.df {
    display: flex;
}

.js {
    justify-content: start;
}


.ac {
    align-items: center;
}

.gp30px {
    gap: clamp(5px, 2vw, 20px) !important;
  }

.mrg {
    margin: 0px 10px 0px 10px;
}

.skeleton-container {
    width: 100%;
    height: auto;
}

.avatarSkeletonContainer {
    padding: 11%;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    overflow: hidden;
  
    .avatarSkeleton100 {
      width: 100% !important;
      height: 100% !important;
      position: absolute;
      top: 0px;
      img {
        width: 100%;
        height: 100%;
      }
    }
}

.MuiSkeleton-circular {
    flex-shrink: 0;
}

.paginator-container {
    margin: 81px 0 0 0;
}

.skeleton-avatar-title {
    flex: 0.8;
}

.rightBtn{
    width: 30px;
    height: 30px;
}

.profileSummaryContainer {
    width: 70vw;
}