.profileMainInfo {
    width: 90vw;
}

.fullSizeCard {
    width: 100% !important;
    max-width: 90vw !important;
    height: auto !important;
}

.fw {
    flex-wrap: wrap;
}

.f100 {
    flex: 0 0 100%;
}

.profileMainInfo{
    .skeleton-container{
        width: 90vw !important;
        max-width: 90vw !important;
        height: 100% !important;
        .MuiSkeleton-root.MuiSkeleton-rounded.MuiSkeleton-wave{
            height: 190px !important;
        }
    }
}