.menuBarFontClamp {
    font-size: var(--font-m) !important;
}

.menuBarIcoClamp1525 {
    width: clamp(15px, 2vw, 25px) !important;
    height: clamp(15px, 2vw, 25px) !important;
}

.menuBarIcoClamp2830 {
    width: clamp(28px, 2vw, 30px) !important;
    height: clamp(28px, 2vw, 30px) !important;
}

.backgroundHider {
    padding-top: 100px;
    width: 100%;
}

.menuIconContainer {
    top: 10px !important;
    position: fixed;
    z-index: 9992;
    height: auto;
    background: #ffffff00;
    padding-top: 23px;
    padding: 12px;
    width: 5vw;
    min-width: 70px;
    left: 0px;
    max-width: 100px;
}

.dpNone {
    display: none;
}

.whiteText {
    color: #ffffff;
}

.menuBarInner {
    overflow-y: auto;
    overflow-x: hidden;
    // padding: clamp(50px, 5vw, 100px) 0px;
}

.menuBarInnerItemsContainer {
    gap: 12px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    width: 100%;

    .menuBarInnerItems {
        button {
            display: flex !important;
            justify-content: space-around !important;
            align-items: center !important;
            text-transform: none !important;
        }

        .menuItemLabel {
            padding-left: 5px;
        }
    }
}

.menuBarInner.horizontal {
    width: 100%;

    .menuBarInnerItemsContainer {
        gap: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow: auto;

        .menuBarInnerItems {
            width: auto;

            .menuItemLabel {
                display: none;
            }
        }
    }
}

.menuBarInner.vertical {
    .menuBarInnerItemsContainer {
        padding: 12px;
    }
}

.menuBarInnerItems {
    width: 100%;
    display: flex;
    justify-content: start !important;
    align-items: center;
    text-transform: none;
}

.menuBarInnerIcoClamp2830 {
    width: clamp(28px, 2vw, 30px) !important;
    height: clamp(28px, 2vw, 30px) !important;
}

.lightModeBanner {
    background: rgb(230, 245, 255);
    background: -moz-linear-gradient(102deg, rgba(230, 245, 255, 1) 0%, rgba(196, 217, 233, 1) 50%, rgba(131, 167, 194, 1) 100%);
    background: -webkit-linear-gradient(102deg, rgba(230, 245, 255, 1) 0%, rgba(196, 217, 233, 1) 50%, rgba(131, 167, 194, 1) 100%);
    background: linear-gradient(102deg, rgba(230, 245, 255, 1) 0%, rgba(196, 217, 233, 1) 50%, rgba(131, 167, 194, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e6f5ff", endColorstr="#83a7c2", GradientType=1);
    border-radius: 12px;
    padding: 12px;
    transition: all 0.3s ease;
}

.darkModeBanner {
    background: rgb(34, 60, 79) !important;
    background: -moz-linear-gradient(102deg, rgba(34, 60, 79, 1) 0%, rgba(27, 51, 69, 1) 50%, rgba(16, 34, 47, 1) 100%);
    background: -webkit-linear-gradient(102deg, rgba(34, 60, 79, 1) 0%, rgba(27, 51, 69, 1) 50%, rgba(16, 34, 47, 1) 100%);
    background: linear-gradient(102deg, rgba(34, 60, 79, 1) 0%, rgba(27, 51, 69, 1) 50%, rgba(16, 34, 47, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#223c4f", endColorstr="#10222f", GradientType=1);
    border-radius: 12px;
    padding: 12px;
    transition: all 0.3s ease;
}

.lightModeBanner:hover {
    background: rgb(199, 213, 221);
    background: -moz-linear-gradient(102deg, rgba(230, 245, 255, 1) 0%, rgba(196, 217, 233, 1) 50%, rgba(131, 167, 194, 1) 100%);
    background: -webkit-linear-gradient(102deg, rgba(230, 245, 255, 1) 0%, rgba(196, 217, 233, 1) 50%, rgba(131, 167, 194, 1) 100%);
    background: linear-gradient(102deg, rgba(230, 245, 255, 1) 0%, rgba(196, 217, 233, 1) 50%, rgba(131, 167, 194, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e6f5ff", endColorstr="#83a7c2", GradientType=1);
    border-radius: 12px;
    padding: 12px;
    transition: all 0.3s ease;
}

.darkModeBanner:hover {
    background: rgb(23, 41, 54) !important;
    background: -moz-linear-gradient(102deg, rgba(34, 60, 79, 1) 0%, rgba(27, 51, 69, 1) 50%, rgba(16, 34, 47, 1) 100%);
    background: -webkit-linear-gradient(102deg, rgba(34, 60, 79, 1) 0%, rgba(27, 51, 69, 1) 50%, rgba(16, 34, 47, 1) 100%);
    background: linear-gradient(102deg, rgba(34, 60, 79, 1) 0%, rgba(27, 51, 69, 1) 50%, rgba(16, 34, 47, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#223c4f", endColorstr="#10222f", GradientType=1);
    border-radius: 12px;
    padding: 12px;
    transition: all 0.3s ease;
}

.profileannerIconClamp {
    width: clamp(45px, 3vw, 50px) !important;
    height: clamp(45px, 3vw, 50px) !important;
}

.leftAlignedText {
    text-align: left;
}