.sideBarFontClamp{
    font-size: var(--font-m) !important;
}

.sideBarIcoClamp1525{
    width: clamp(15px, 2vw, 25px) !important;
    height: clamp(15px, 2vw, 25px) !important;
}

.sideBarIcoClamp2535{
    width: clamp(25px, 2vw, 35px) !important;
    height: clamp(25px, 2vw, 35px) !important;
}

.backgroundHider{
    padding-top: 100px;
    width: 100%;
}

.menuIconContainer{
    top: 10px !important;
    position: fixed;
    z-index: 9992;
    height: auto;
    background: #ffffff00;
    padding-top: 23px;
    padding: 12px;
    width: 5vw;
    min-width: 70px;
    left: 0px;
    max-width: 100px;
}

.dpNone{
    display: none;
}

.whiteText{
    color: #ffffff;
}

.sidebarInner{
    overflow-y: auto;
    overflow-x: hidden;
    // padding: clamp(50px, 5vw, 100px) 0px;
    padding: 12px;
}

.sideBarInnerItemsContainer{
    gap: 12px;
}

.sideBarInnerItems{
    width: 100%;
}