.mainContainer {
    padding: 0px 10px 10px;
        margin-top: 84px;
    max-width: 1800px;
    width: 100%;
}

.mainContentContainer {
    margin-bottom: 60px;
}

.stickyMenu {
    position: sticky;
    top: 84px;
}

.menuBottomContainer {
    height: calc(100vh - 100px);
    position: sticky;
    top: 100px;

    .stickyMenuBottom {
        position: absolute;
        bottom: -27px;
        width: calc(100% - 20px);
    }
}

@media (min-width: 1700px) {
    .mainContainer {
        width: 85vw;
    }
}

@media (min-width: 1700px) {
    .mainContainer {
        width: 80vw;
    }
}

@media (min-width: 2100px) {
    .mainContainer {
        width: 75vw;
    }
}