.profileMainInfoContainer {
    position: relative;
}

@media (max-width: 576px) {
    .postTabContainer {
        position: absolute;
        width: 100vw;
        left: 0px;
    }
}

@media (max-width: 576px) {
    .detailPostTabContainer {
        top: 80px;
        padding-bottom: 70px;
    }
}

.avatar100 {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    top: 0px;

    img {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 600px) {
    .avatarContainer {
        padding: 15%;
        display: flex;
        justify-content: center;
        position: relative;
        align-items: center;
        overflow: hidden;
    }
}

@media (min-width: 600px) and  (max-width: 769px) {
    .avatarContainer {
        padding: 10%;
        display: flex;
        justify-content: center;
        position: relative;
        align-items: center;
        overflow: hidden;
    }
}

@media (min-width: 769px) and  (max-width: 1800px) {
    .avatarContainer {
        padding: 12%;
        display: flex;
        justify-content: center;
        position: relative;
        align-items: center;
        overflow: hidden;
    }
}

@media (min-width: 1800px) {
    .avatarContainer {
        padding: 9%;
        display: flex;
        justify-content: center;
        position: relative;
        align-items: center;
        overflow: hidden;
    }
}

.card_content_container {
    width: 100%;
}