.profileContainer {
    width: 100%;
}

.fullSizeCard {
    width: 100% !important;
    height: auto !important;
}

.fw {
    flex-wrap: wrap;
}

.f100 {
    flex: 0 0 100%;
}

.headerIcoClamp2830 {
    width: clamp(28px, 2vw, 30px) !important;
    height: clamp(28px, 2vw, 30px) !important;
}

.profileSettingsBtnContainer{
    position: absolute;
    bottom: -4px;
    z-index: 99;
    left: 45px;
}

.profileMainInfoContainer{
    position: relative;
}