.avatar24 {
    width: 24px !important;
    height: 24px !important;
}

.menuBarBottomContainer{
    top: calc(100% - 50px);
    position: fixed;
    left: 0px;
    z-index: 9991;
    width: 100%;
    padding: 5px 5px 0px;
}

.menuBarBottomContainerInner{
    box-shadow: var(--shadow-right-normal);
    padding-bottom: 15px;
    border-radius: var(--app-border-radius-s);
    overflow: hidden;
}

.w15 {
    width: 15px !important;
}

.h15 {
    height: 15px !important;
}

.p4 {
    padding: 4px;
}

.logoIcoInvert {
    filter: invert(1);
}

.dsBlock{
    display: block;
}