.loginCardContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: calc(59px + 3vw);
    width: 100vw;
    height: calc(100vh - 120px);
}
.singInButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    row-gap: 15px;
    padding: 33px;
}

.pe_signin_button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 4px;

    button {
        width: clamp(253px, 14vw, 300px);
        min-height: 52px;
        pointer-events: none;
        background-color: #5fe0b4 !important;
        span{
            text-wrap: nowrap;
        }
    }
}

.pe_verify_email {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 4px;

    button {
        width: clamp(253px, 14vw, 300px);
        min-height: 52px;
        span{
            text-wrap: nowrap;
        }
    }
}