.loginCardContainer {
    align-items: start;
    display: flex;
    height: calc(100vh - 130px - 3vw);
    justify-content: center;
    margin-top: calc(130px + 3vw);
    width: 100vw;

    .matrix-card-container {
        width: 60%;
        min-width: 340px;
        max-width: 500px;

        .MuiCard-root {
            padding-bottom: 0px;
            padding: clamp(15px, 3vw, 40px) clamp(20px, 2vw, 20px);
        }
    }
}

.singInButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    row-gap: 15px;
    padding: 19px 0px;
}

.firebaseui-tos {
    line-height: unset !important;
}

.firebaseui-idp-button{
    max-width: 100% !important;
    padding: 18px !important;
    border-radius: 4px;
}

.firebaseui-container{
    max-width: 350px !important;
    box-shadow: none !important;
}

#firebaseui-auth-container{
    width: 100%;
}

.firebaseui-card-content {
    padding: 0 5px !important;
}

.firebaseui-textfield.mdl-textfield .firebaseui-label::after {
    //background-color: var(--app-accent-color) !important;
    background-color: transparent !important;
}

.firebaseui-textfield{
    padding: 10px !important;
    background-color: rgba(0, 0, 0, 0.06);
    border-radius: var(--app-border-radius-s);
    padding: 2px 15px;
}

.firebaseui-input {
    border-bottom: none !important;
}

.firebaseui-phone-number{
    background-color: rgba(0, 0, 0, 0.06);
    border-radius: var(--app-border-radius-s);
    padding: 2px 15px;
    .firebaseui-textfield{
        padding: 10px !important;
        background-color: transparent;
        border-radius: 0px !important;
    }
}

.firebaseui-country-selector {
    border-bottom: none !important;
    margin: 10px 24px 10px 0 !important;
}
.firebaseui-country-selector:hover {
    background-color: transparent !important;
}

.firebaseui-label{
    display: none !important;
}

.firebaseui-card-header {
    border-bottom: none !important;
    margin-bottom: 5px !important;
    padding: 16px 24px 0 8px !important;
}

.firebaseui-title {
    padding-bottom: 0px !important;
}

.mdl-button--primary.mdl-button--primary {
    background-color: var(--app-light-gray-color) !important;
    color: white !important;
}

.mdl-button--raised.mdl-button--colored{
    background-color: var(--app-accent-color) !important;
}

.firebaseui-button{
    padding: 5px 10px 3px 10px !important;
    height: auto !important;
    border-radius: 4px !important;
    font-size: var(--font-m) !important;
}

.firebaseui-relative-wrapper{
    overflow: hidden;
}
