@media (max-width: 576px) {
    .postTabContainer {
        position: absolute;
        width: 100vw;
width: 100dvw;
        left: 0px;
    }
}

@media (max-width: 576px) {
    .detailPostTabContainer {
        top: 59px;
        padding-bottom: 70px;
    }
}