@import './app-font-IBM-Plex_mono.scss';
@import './app-font-Roboto.scss';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import './dimensions.scss';
@import './mui-overrides.scss';
@import './bootstrapOverrides.scss';
@import 'firebaseui/dist/firebaseui.css';
@import './firebaseui-override.scss';

@font-face {
  font-family: 'Nunito';
  src: url('./assets/fonts/Nunito/Nunito-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  /* Define the weight range */
  font-style: normal italic;
  /* Define the style range */
}

@font-face {
  font-family: 'NunitoItalics';
  src: url('./assets/fonts/Nunito/Nunito-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  /* Define the weight range */
  font-style: normal italic;
  /* Define the style range */
}

@font-face {
  font-family: 'PlaywriteDEGrund';
  src: url('./assets/fonts/Playwrite_DE_Grund/PlaywriteDEGrund-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  /* Define the weight range */
  font-style: normal italic;
  /* Define the style range */
}

@font-face {
  font-family: 'Quicksand';
  src: url('./assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf') format('truetype');
  font-weight: 500 900;
  /* Define the weight range */
  font-style: normal italic;
  /* Define the style range */
}

:root {
  --app-background: #000000;
  --white-color: #ffffff;
  --string-color: #CE9178;
  --app-error-color: #ff0000;
  --app-error-color-lighter: #ff7272;
  --app-error-color-darker: #950000;
  --app-info-color: #FFFF00;
  --app-info-color-lighter: #ffff9e;
  --app-info-color-darker: #f2f208;
  --app-success-color: #03A062;
  --app-success-color-lighter: #77ffc8;
  --app-success-darker: #006b40;
  --app-light-gray-color: #d6d6d6;
  --app-verified-color: #0095F6;
  // --app-font-family: 'IBM Plex Mono', Courier, 'Courier New', monospace;
  --app-font-family: 'Quicksand', 'Roboto', Courier, 'Courier New', 'monospace';
  --font-xxs: 0.2rem;
  --font-xs: 0.4rem;
  --font-s: 0.6rem;
  --font-sm: 0.8rem;
  --font-m: 1rem;
  --font-ml: 1.2rem;
  --font-l: 1.4rem;
  --font-xl: 1.6rem;
  --font-xxl: 1.8rem;
  --app-transition: 0.2s ease-in-out;
  --shadow-ini-down-s: rgb(0 0 0 / 5%) 0px 5px 100px -20px, rgb(0 0 0 / 9%) 0px 5px 60px -30px;
  --shadow-hover-down-s: rgb(0 0 0 / 16%) 0px 50px 100px -20px, rgb(0 0 0 / 17%) 0px 30px 60px -30px;
  --shadow-down-s: rgba(100, 100, 111, 0.2) 2px 2px 15px 3px;
  --shadow-down-s-transparent: rgb(0 0 0 / 12%) 2px 8px 15px -3px;
  ;
  --shadow-right-normal: rgb(0 0 0 / 38%) 5px 10px 25px;
  font-size: clamp(15px, 2vw, 17px);
  --app-border-radius-s: 8px;
  --app-border-radius-m: 16px;
  --app-border-radius-xs: 32px;
}

html{
  scroll-behavior: auto !important;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: var(--app-font-family);
  background-color: var(--app-background);
}

body * {
  font-family: var(--app-font-family) !important;
  font-size: var(--font-m) !important;
  font-weight: 300;
  letter-spacing: 0px;
}

.overFlowHidden {
  overflow: hidden;
}

.hidden {
  opacity: 0 !important;
  transform: scale(0.7);

  * {
    opacity: 0 !important;
  }

  transition: ease-in-out 1s;
}

.invisibile {
  visibility: hidden;
}


.matrix-card-container.full-width {
  .MuiPaper-root {
    width: 90vw;
  }
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header {
  font-size: var(--font-xl) !important;
}

.headerl {
  font-size: var(--font-l) !important;
  margin: 5px 5px;
}

.headerml {
  font-size: var(--font-ml) !important;
  margin: 5px 5px;
}

.textwrapNone {
  text-wrap: nowrap;
}

.brownText {
  color: var(--string-color) !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 196px;
}

.whiteText {
  /* color: var(--white-color) !important; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 196px;
}

.app-header {
  margin: 0px 20px 2vw 20px;
}


/* browser scroll bar css override starts */
::-webkit-scrollbar {
  width: 0.5vw;
  height: 10px;
  min-width: 6px;
  max-width: 15px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(46, 46, 46);
  transition: var(--app-transition);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(23, 23, 23);
  transition: var(--app-transition);
  cursor: pointer;
}

/* browser scroll bar css override starts */

.errorText {
  color: var(--app-error-color) !important;
}

.matrix-card-container {
  width: 45%;
  min-width: 296px;
  max-width: 400px;

  .MuiCard-root {
    height: 100%;
    padding-bottom: clamp(45px, 3vw, 58px);
    position: relative;

    .MuiCardActions-root {
      position: absolute;
      bottom: 0px;
      padding-bottom: 12px;
    }
  }
}

.icon30 {
  width: 30px !important;
  height: 30px !important
}

.smallMenu * {
  font-size: var(--font-sm) !important;
}

.crPointer {
  cursor: pointer;
}

.iconTp2n {
  position: relative;
  top: -2px;
}

.icon40Btn {
  width: clamp(30px, 2vw, 40px) !important;
  min-width: clamp(30px, 2vw, 40px) !important;
  height: clamp(30px, 2vw, 40px) !important;
}

hr.cardContentSeperator {
  margin: 20px 17px 0px 17px;
  border: 1px solid lightgray;
  border-bottom: none;
}

.lightGrayChip {
  background-color: var(--app-light-gray-color) !important;
}

.headerIcoClamp2830 {
  width: clamp(28px, 2vw, 30px) !important;
  height: clamp(28px, 2vw, 30px) !important;
}

.headerIcoClamp2426 {
  width: clamp(24px, 2vw, 26px) !important;
  height: clamp(24px, 2vw, 26px) !important;
}

.morpheusThemer {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.redPillThemeBtn {
  position: relative;
  bottom: 55px;
  right: 47px;
  width: 47px;
  height: 39px;
  opacity: 0;
  margin-bottom: -35px;
  cursor: pointer;
}

.bluePillThemeBtn {
  position: relative;
  bottom: 55px;
  right: -46px;
  width: 48px;
  height: 39px;
  opacity: 0;
  margin-bottom: -35px;
  cursor: pointer;
}

.roundedContainer {
  border-radius: var(--app-border-radius-m) !important;
  box-shadow: var(--shadow-down-s-transparent) !important;
  overflow: hidden;
}

.verifiedTick {
  color: var(--app-verified-color);
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  appearance: none;
  background-color: transparent !important;
  color: var(--app-verified-color) !important;
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill,
input:focus:-webkit-autofill {
  appearance: none;
  background-color: transparent !important;
  box-shadow: 0 0 0px 1000px transparent inset !important;
  color: var(--app-verified-color) !important;
}

.w100per{
  width: 100%;
}