.df {
    display: flex;
}

.js {
    justify-content: start;
}


.ac {
    align-items: center;
}

.gp30px {
    gap: 30px;
}

.mrg {
    margin: 0px 10px 0px 10px;
}


.skeleton-container {
    width: 90%;
    min-width: 200px;
    max-width: 400px;
    height: 280px;
    padding: 16px;
    border-radius: 4px;
}

.MuiSkeleton-circular {
    margin: 10px 0px 15px 0px;
}

.paginator-container {
    margin: 81px 0 0 0;
}

.skeleton-avatar-title {
    width: calc(100% - 150px);
}