.pinIconContainer {
    position: relative;
    z-index: 899;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 101%;
    top: 10px;
    min-width: 0px;
    svg{
        stroke: gray;
        fill: transparent;
    }
}

.pinIconContainer.pinned {
    svg{
        stroke: gray;
        fill: gray;
    }
}