.profileSearchContainer {
    .MuiPaper-root {
        padding: 4px 8px !important;
    }
}

.bkMarkBtnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pinIconContainer {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 0px;

    svg {
        stroke: gray;
        fill: transparent;
    }
}

.pinIconContainer.pinned {
    svg {
        stroke: gray;
        fill: gray;
    }
}

.avatarContainer {
    padding: 11%;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    overflow: hidden;

    .avatar100 {
        width: 100% !important;
        height: 100% !important;
        position: absolute;
        top: 0px;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

.profileSummaryContainer {
    width: 70vw;
}

.w100per {
    width: 100%;
}

.searchIconContainer {
    width: clamp(28px, 2vw, 30px) !important;
    height: clamp(28px, 2vw, 30px) !important;
    position: relative;
    top: -7px;
}

.expandIconContainer {
    z-index: 899;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}