#loader-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    background: black;
    z-index: 9999999999;
}

.df {
    display: flex;
  }
  
  .jc {
    justify-content: center;
  }
  
  .ac {
    align-items: center;
  }